body {
	margin: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

a {
	color: #84868a;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	opacity: 0.75;
}



/* View */


.view {
	font-family: sans-serif;
	color: #7F7F7F;
	font-weight: 200;
	margin: 5em auto 0px;
	overflow: hidden;
}

.view--left {
	display: inline-block;
	width: 15%;
	float: left;
}

.view--right {
	display: inline-block;
	width: 85%;
	float: right;
}

.view--right .grayed-out {
	opacity: 0.3;
}


/* View header */


.view-header {
	text-align: right;
	padding-right: 2em;
}

.view-header h1 {
	margin-top: 0;
}

.view-header__title {
	font-weight: 200;
}

.view-header__search {
	padding-left: 5px;
}

.view-header__runs {
	list-style: none;
	font-size: 14px;
}

.view-header__runs li {
	margin-bottom: 5px;
}

/* View example */


.view-plot {
	vertical-align: top;
	margin: 0 auto;
	margin-bottom: 10em;
	display: flex;
	justify-content: flex-end;
}


.view-plot--left { 
	padding-right: 3em;
	width: 75%;
}

.view-plot--left ul li a.selected {
	color: rgb(255, 32, 120);
}

.view-plot--left ul li .status {
	color: #FF6961;
	font-weight: bold;
}

.view-plot--right {
	padding-right: 3em;
	width: 25%;
}

.view-plot--right ul {
	list-style: none;
	padding-left: 2px;
	font-size: 12px;
}

.view-plot--right ul li {
	margin:5px 0;
}

.view-plot--right__concurrency label {
	display: block;
	width: 100%;
	margin: 15px 0;
}

.view-plot--right__concurrency label span {
	display:block;
	width: 100%;
}

.view-footer {
	display: none;
}

.view-toggler {
	text-align: right;
}

.view-toggler * {
	color: #9ea0a2;
	font-size: 0.75em;
	cursor: pointer;
}

.view-link {
	color: #9ea0a2;
	position: absolute;
	margin: 15px 20px;
	bottom: 0;
	right: 0;
	cursor: pointer;
	display: none;
	font-size: 0.75em;
}


.elm-plot {
	margin: 0 auto;
}

.elm-plot__labels {
	fill: #565656;
	font-size: 0.8em;
}

.elm-plot__hint {
	font-size: 0.8em;
}


/* Smaller screens */


@media (max-width: 1000px) {
	.view-plot, .view-footer {
		display: block;
	}

	.view-plot--left, .view-plot--right {
		width: 100%;
	}

	.view-plot--right {
		padding-top: 1em;
		padding-left: 3em;
	}
}


@media (max-width: 1500px) {
	body {
		font-size: 16px;
	}
}


@media (max-width: 1000px) {
	body {
		font-size: 14px;
	}
}


@media (max-width: 800px) {
	body {
		font-size: 8px;
	}
}

@media (max-width: 600px) {
	body {
		font-size: 5px;
	}

	.elm-plot__labels {
		font-size: 2em;
	}
}
